.hero {
    // Tamaños desktop porque no tengo el diseño del mobile
    padding-top: calc(83px + 17px);
    &__carousel {
        height: 100vh !important;
        border-bottom: $main-line;
    }
}

.hero__fixed-item {
    z-index: -2;
    &__img {
        max-width: 287px;
        height: auto;
        margin-top: 10px;
        transform: translateX(100px);
        @media #{$medium-and-up} {
            max-width: 552px;
            transform: translateX(-80px);
        }
    }
}

.carousel-item {
    &__category {
        font-size: 20px;
        text-transform: lowercase;
        margin: 0;
        padding-top: 80px;
    }
    &__title {
        margin-top: 0;
        font-size: 32px;
        text-transform: lowercase;
        line-height: 1.2;
        text-decoration: underline solid black 2px;
        @media #{$medium-and-up} {
            text-transform: initial;
            font-size: $font-large;
            line-height: 1.5;
        }
    }
    &__user {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        @media #{$medium-and-up} {
            flex-direction: row;
        }
        .participante-tag {
            padding-right: $spacer;
        }
    }
    &__description {
        transform: translateY(30vh);
        font-size: 1.25rem;
    }
}