.section-grid {
    margin: 70px auto;
    &__square-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 20px;
        @media #{$medium-and-up} {
            grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
            outline: none;
            margin: 70px 0;
        }
        @media #{$large-and-up} {
            outline: none;
            margin: 70px 0;
        }
        &>* {
            outline: $main-line;
            margin-left: 1px;
            margin-bottom: 1px;
        }
    }
}

.square-grid-item {
    @media #{$medium-and-up} {
        padding: 10px;
    }
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    &__title {
        padding: 30px 15px 0 15px;
        hyphens: auto;
        @media #{$large-and-up} {
            hyphens: none;
        }
        &__flex {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            @media #{$large-and-up} {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
            p {
                margin: 0;
                align-self: flex-start;
                font-family: $display-font;
                padding-top: 30px;
                @media #{$medium-and-up} {
                    padding-top: 0;
                }
            }
        }
    }
}

.square-grid-item__body {
    &__excerpt {
        display: none;
        @media #{$large-and-up} {
            display: block;
        }
    }
    &__link {
        display: none;
        @media #{$large-and-up} {
            display: block;
            float: right;
            padding-top: 50px;
        }
    }
    & h4 {
        margin: 0;
        color: $brand-color;
        padding-bottom: 16px;
    }
}

div.red-line {
    display: none;
    height: 2px;
    width: 15px;
    background-color: $brand-color;
    @media #{$large-and-up} {
        display: block;
        margin-bottom: 57px;
    }
}