.section-downey {
    &__container {
        border-top: $main-line;
        border-bottom: $main-line;
        padding-top: 40px;
        padding-bottom: 80px;
    }
    &__image {
        position: relative;
        margin-bottom: 40px;
        &__rectangle {
            outline: $main-line;
            width: 727px;
            height: 374px;
            position: absolute;
            top: 15px;
            left: 20px;
            z-index: -1;
        }
    }
}