.flex-grid-thirds {
    display: flex;
    flex-direction: column;
    @media #{$medium-and-up} {
        flex-direction: row;
        border-top: $main-line;
    }
    &__item {
        border: $main-line;
        padding: 20px;
        margin: 0 20px;
        @media #{$medium-and-up} {
            margin: 0;
            border: none;
            border-right: $main-line;
            border-bottom: $main-line;
        }
        @media #{$large-and-up} {
            padding: 70px 40px 60px;
        }
        &:last-child {
            border-right: none;
        }
    }
}

.box-obra {
    &__img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        object-position: center center;
        @media #{$large-and-up} {
            max-height: 260px;
        }
    }
    &__category {
        display: block;
        text-decoration: none;
        margin-bottom: 20px;
    }
    &__title {
        font-size: 20px;
        color: $brand-color;
        line-height: 1.2;
        margin-top: 10px;
        @media #{$medium-and-up} {
            font-size: 30px;
        }
        @media #{$large-and-up} {
            font-size: 40px;
        }
    }
    &:nth-child(3) {
        @media #{$medium-and-up} {
            border: none;
        }
    }
}