// componente noticia
.box-noticia {
    &__img {
        width: 100%;
        aspect-ratio: 3 / 2;
        object-fit: cover;
        object-position: center center;
        margin-bottom: 15px;
        @media #{$medium-and-up} {
            max-height: 297px;
        }
    }
    &__wrapper {
        outline: $main-line;
        padding: 30px;
    }
    &__category {
        padding: 10px 0;
        display: block;
        text-decoration: none;
        font-family: $secondary-text-font;
    }
    &__title {
        color: $brand-color;
        text-transform: none;
        font-size: 1em;
        line-height: 1.5;
        font-family: $text-font;
        letter-spacing: 0;
        margin-bottom: 10px;
    }
    &__excerpt {
        font-size: 1em;
        line-height: 1.5;
    }
    span.date {
        margin: 15px 0;
    }
}

// .carousel-noticiero {
//     height: 500px;
//     overflow-y: hidden;
//     @media #{$medium-and-up} {
//         height: 700px;
//         overflow: initial;
//     }
// }
.section-noticiero .carousel-item {
    padding: 0 5px;
}

// .carousel-noticiero-desktop {
//     height: 700px;
//     margin-bottom: 30px;
// }
.box-noticia-desktop {
    width: 33.3%;
    height: 100%;
    &__img {
        width: 100%;
        aspect-ratio: 3 / 2;
        object-fit: cover;
        object-position: center center;
        margin-bottom: 15px;
        // @media #{$medium-and-up} {
        //     max-height: 297px;
        // }
    }
    &__wrapper {
        outline: $main-line;
        padding: 30px;
    }
    &__category {
        padding: 10px 0;
        display: block;
        text-decoration: none;
        font-family: $secondary-text-font;
    }
    &__title {
        color: $brand-color;
        text-transform: none;
        font-size: 1em;
        line-height: 1.5;
        font-family: $text-font;
        padding-bottom: 10px;
    }
    &__excerpt {
        font-size: 1em;
        line-height: 1.5;
    }
    span.date {
        margin: 15px 0;
    }
}

#noticiero-slider .carousel-item {
    height: 800px;
}