.container {
    margin: 0 auto;
    max-width: 1340px;
    width: 95%;
}

@media #{$medium-and-up} {
    .container {
        width: 100%;
    }
}

@media #{$large-and-up} {
    .container {
        width: 100%;
        padding: 0;
    }
}

.col .row {
    margin-left: (-1 * $gutter-width / 2);
    margin-right: (-1 * $gutter-width / 2);
}

.flex-grid-halves {
    display: flex;
    flex-direction: row;
    border-top: $main-line;
    border-bottom: $main-line;
    &__item {
        width: 50%;
        border-right: $main-line;
        padding: 80px;
    }
    &__item:last-child {
        border-right: transparent;
    }
}