/**
 * Basic typography style for copy text
 */

html {
    line-height: 1.5;
}

body {
    color: $text-color;
}

h4 {
    font-size: $h4-mobile;
    line-height: 1.45;
    @media #{$large-and-up} {
        font-size: $h4-desktop;
    }
}

h3 {
    font-size: $h3-mobile;
    @media #{$large-and-up} {
        font-size: $h3-desktop;
    }
}